<%- include("header") -%>
<div class="container mt-4 fs-4 text-center">
  <h2 class="pb-2 my-3 fst-italic border-bottom border-3 text-start">
    About Me
  </h2>
  <p>
    Hi, I'm Karthik, a Web Developer based in Chennai, TamilNadu, India. I love
    Reading, Music, Coffe and Coding. This blog is a place for anyone to share
    their thoughts while being anonymous. Thanks for stopping by and please be
    sure to give it a try!
  </p>
</div>

<%- include("footer") -%>
